<nav class="navbar bg-base-100 px-4">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl <%= (page === '/') ? 'active' : '' %>" href="/">Lego Collection</a>
    </div>
    <div class="ml-auto flex-none">
      <ul class="menu menu-horizontal p-0">
        <!-- New "View Collection" link -->
        <li><a class="<%= (page === '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>

         <!-- Add to Collection Link -->
        <li><a class="<%= (page === '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>

        <!-- Existing "About" link -->
        <li><a class="<%= (page === '/about') ? 'active' : '' %>" href="/about">About</a></li>
      </ul>
    </div>
  </nav>
  